html {
  background: url(../images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: monoidretina, Arial, sans-serif;
  margin: 0 auto;
  width: 960px;
}

p {
  line-height: 1.5em;
  padding-top: 4px;
}

/* Main content body section */
.gameContent {
  clear: both;
  background-color: #20262e;
  border: 1px solid #cccccc;
  margin-bottom: 0px;
  padding: 10px;
}

/* Top Portion */
.tab {
  float: left;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #f1f1f1;
  font-size: 10px;
  padding-left: 2px;
  padding-right: 2px;
  color: gray;
}

#js-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.comment {
  color: gray;
  margin-bottom: 25px;
}

/* Timer Section */
.timer {
  display: none;
}
/* Feedback Section */
.feedback {
  display: none;
}
/* Question Section */
.question-container {
  display: none;
}

.answers {
  margin-left: 25px;
}

/* Got blinking cursor from here https://codepen.io/ArtemGordinsky/pen/GnLBq */
.blinking-cursor {
  visibility: hidden;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.possible-answer {
  padding-left: 10px;
  cursor: text;
}
.possible-answer:hover {
  color: rgb(231, 131, 162);
}
.possible-answer:active {
  color: cornflowerblue;
}

.possible-answer:hover .blinking-cursor {
  visibility: visible;
}

/* Footer Section */
.footer-tabs {
  display: flex;
  align-items: center;
  /* background-color: rgb(35, 116, 226); */
  height: 1em;
  margin-top: 25px;
}

.start {
  display: flex;
  position: relative;
  align-items: center;
  bottom: -2px;
  left: 25px;
  background-color: cornflowerblue;
  padding: 15px;
  height: 25px;
  cursor: pointer;
}

.start:hover {
  left: 21px;
  border: 4px solid lightgreen;
}

#start-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.start p {
  color: white;
}

/* Color Syntax Styling */
.code {
  color: rgb(212, 213, 214);
}

.alt-code {
  color: #d89333;
}

.alt-code-blue {
  color: rgb(108, 158, 248);
  font-weight: bold;
}

.alt-code-red {
  color: #df4b68;
}

.alt-code-green {
  color: lightgreen;
}
